*.exe
CLngCompiler.v11.suo
CLngCompiler.v12.suo
CLngCompiler.opensdf
CLngCompiler.sdf
*.opensdf
*.sln
*.ilk
*.pdb
/Debug
/CLngCompiler/Debug
*.vcxproj
*.vcxproj.filters
*.sublime-project
*.sublime-workspace
/ipch
.gitignore