*.exe
CLngCompiler.v11.suo
CLngCompiler.v12.suo
CLngCompiler.opensdf
CLngCompiler.sdf
CLngCompiler.sln
*.opensdf
*.sln
*.ilk
*.pdb
*.sdf
/Debug
/CLngCompiler/Debug
*.vcxproj
*.vcxproj.filters
*.sublime-project
*.sublime-workspace
/ipch
.gitignore
/CLngCompiler/input.txt
/CLngCompiler/input.txt.prs1